# Ignore les données persistantes
db_data/
wordpress_data/

# Ignore les fichiers sensibles
.env
motDePassWordpress.txt

# Ignore les fichiers temporaires
*.log
*.tmp
*.bak

# Ignore les configurations spécifiques à l'éditeur
.vscode/

# Cache de WordPress et autres fichiers non nécessaires au versioning
wordpress/wp-content/cache/
wordpress/wp-content/uploads/
wordpress/wp-config.php
